body {
<<<<<<< HEAD
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .ilike-blue-container {
    @extend .blue, .lighten-4;
  }
=======
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #fff;
}

main {
  flex: 1 0 auto;
}
>>>>>>> origin/dev
